*{
    scroll-behavior: smooth;
}
#first-section{
    background-image: url(/src/assets/images/image-2.jpg);
    background-repeat: no-repeat;
    background-position: 0% 66%;
    background-size: cover;
    background-attachment: fixed;
}

#second-section{
    background-image: url(/src/assets/images/image-4.jpg);
    background-repeat: no-repeat;
    background-position: 0% 55%;
    background-size: cover;
    background-attachment: fixed;
}

#third-section{
    background-image: url(/src/assets/images/image-1.jpg);
    background-repeat: no-repeat;
    background-position: 0% 43%;
    background-size: cover;
    background-attachment: fixed;
}
#fourth-section{
    /* background-image: url(/src/assets/images/image-3.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-attachment: fixed; */
}
#fifth-section{
    background-image: url(/src/assets/images/image-5.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
}


@media(max-width:830px){
    #first-section{
        background-position: 45% 70%;
        background-size: 200%;
    }
}

.text-shadow{
    text-shadow: rgb(255, 252, 252) 1px 1px;
}

#bg{
    background-image: url("/src/assets/images/image-2.jpg");
    background-repeat: no-repeat;
    background-position: left 27%;
    background-size: cover;
    background-attachment: fixed;
}
.img{
    /* -moz-text-blink: ; */
    /* mix-blend-mode: color; */
}

@media(max-width:1000px){
    #bg{
        background-position: left 0%;
    }
}


@media(max-width:700px){
    #bg{
        background-position: left -60%;
        background-size: 100% 100%;
    }
   
}

@media(max-width:600px){
    #bg{
        
    }
}

